/* style.css */

body {
  font-family: Helvetica, sans-serif;
  background-color: #000000;
  color: #e31837;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  position: relative;
}

.header-title {
  margin: 0;
  flex: 1;
  text-align: center;
}

.flex-space {
  width: 210px;
  height: 75px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

li a:hover {
  background-color: #4d4d4f;
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 0px;
  margin: 0px;
}

.button {
  background-color: #e31837;
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Set font size */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer;
}

.button:hover {
  background-color: #c2132d; /* Slightly darker red on hover */
}

.highlight {
  background-color: #4d4d4f;
}

.my-link {
  display: inline-block;
  width: 210px;
  height: 75px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.control-item {
  display: inline-block;
  justify-content: center;
}

.center-container {
  margin: 5px;
  display: flex;
  justify-content: center; /* Center the ul horizontally */
}

.control-button {
  background-color: #e31837;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.search-bar {
  height: 40px;
  width: 300px; 
  padding: 5px 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-bottom: 0;
}

.button-spacing {
  margin: 0 7px; /* Add margin to create space between buttons */
  justify-content: center;
}

.control-button:hover {
  background-color: #c2132d; /* Slightly darker red on hover */
}

.dropbtn {
  background-color: #e31837;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.chevron {
  margin-left: 10px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e31837;
}

.chart-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chart-style {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
