/* Chart-specific styles */
.chart-style {
    position: relative;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 320px; /* Set a fixed width for the container */
    height: 180px; /* Set a fixed height for the container */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; /* Add margin for spacing between charts */
}

.chart-style canvas {
    width: 100%; /* Make canvas width 100% of the container */
    height: 100%; /* Make canvas height 100% of the container */
}
