body {
    font-family: Helvetica, sans-serif;
    background-color: #000000;
    color: #e31837;
  }

    .header-container {
      display: flex;
      align-items: center; /* Align items vertically centered */
      justify-content: space-between; /* Space between the image and title */
      padding: 20px; /* Add padding for spacing */
      background-color: #000000; /* Ensure the background matches the rest of the layout */
      position: relative; /* For positioning the header title */
  }

  .header-title {
      margin: 0; /* Remove default margin */
      flex: 1; /* Allow the header title to grow */
      text-align: center; /* Center the text */
  }

  .flex-space {
      width: 210px; /* Reserve space equal to the image's width */
      height: 75px; /* Reserve space equal to the image's height */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  li a:hover {
    background-color: #4d4d4f;
  }

  h1 {
    text-align: center;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
  }

  .button {
    background-color: #e31837;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .highlight {
    background-color: #4d4d4f; /* Change this to whatever color you prefer */
  }

  #left {  
    width: 210px;  
    height: 75px;
    padding: 0px 0px;
    object-fit: none;  
    object-position: left top;  
  }

  /* Define size and style for the anchor element */
  .my-link {
    display: inline-block;  /* Makes the anchor behave like a block element */
    width: 210px;           /* Sets the width of the anchor */
    height: 75px;           /* Sets the height of the anchor */
    line-height: 50px;      /* Vertically centers the text within the anchor */
    text-align: center;     /* Horizontally centers the text within the anchor */
    color: white;           /* Text color */
    text-decoration: none;  /* Removes underline from the text */
  }