<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen and Widgets</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleG.css') }}">
</head>
<body>
    <div class="header-container">
        <div class="flex-space"></div>
        <div class="header-content">
            <a href="https://www.techmahindra.com/" class="my-link">
                <img id="left" src="{{ url_for('static', filename='Untitled.png') }}" />
            </a>
        </div>
        <div class="flex-space"></div>
    </div>
    <div class="center-container">
        <ul>
            <li class="highlight"><a href="/">Dashboard</a></li>
            <li><a href="/upsclientinfo">UPS Client Info</a></li>
            <li><a href="/techmahindrainfo">Tech Mahindra Info</a></li>
            <li><a href="/techmahindraemployeedetails">Tech Mahindra Employee Details</a></li>
            <li><a href="/issues">Issues</a></li>
        </ul>
    </div>
    <div id="controls">
        <div class="control-item">
            <select id="chartType" class="control-button">
                <option value="bar">Bar</option>
                <option value="line">Line</option>
            </select>
        </div>
        <div class="control-item">
            <select id="sheetSelect" class="control-button">
                <option value="" disabled selected>Select Sheet</option>
                <option value="UPS Client Info">UPS Client Info</option>
                <option value="Tech Mahindra Info">Tech Mahindra Info</option>
                <option value="Tech Mahindra Details">Tech Mahindra Details</option>
                <option value="Issues">Issues</option>
            </select>
        </div>
        <div class="control-item dropdown">
            <button class="control-button dropbtn">
                Select Variables 
                <span class="chevron">&#x25BC;</span> 
            </button>
            <div class="dropdown-content" id="dropdown-content">
            </div>
        </div>
        <div class="control-item">
            <button id="addWidget" class="control-button">+</button>
        </div>
        <div class="control-item">
            <button id="exportButton" class="control-button">Save</button>
        </div>
        <div class="control-item">
            <button id="loadButton" class="control-button">Load</button>
        </div>
        <div class="control-item">
            <button id="deleteButton" class="control-button">Delete</button>
        </div>
    </div>
    <br>
    <div id="dashboard"></div>
    <script src="{{ url_for('static', filename='script0.js') }}"></script>
</body>
</html>
