<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <div class="flex-space"></div>
        <div class="header-content">
            <a href="https://www.techmahindra.com/" class="my-link">
                <img id="left" src="{{ url_for('static', filename='Untitled.png') }}" />
            </a>
        </div>
        <div class="flex-space"></div>
    </div>
    <div class="center-container">
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li class="highlight"><a href="/upsclientinfo">Client Information</a></li>
            <li><a href="/techmahindrainfo">Supplier Information</a></li>
            <li><a href="/techmahindraemployeedetails">Supplier Employee Details</a></li>
            <li><a href="/issues">Issues</a></li>
        </ul>
    </div>
    <br>
    <div class="center-container">
        <input type="text" id="myInput" class ="search-bar" placeholder="Search for names..">
        <button id="addRowBtn" class="control-button button-spacing">Add Row</button>
        <button id="deleteRowBtn" class="control-button button-spacing">Delete Row</button>
        <button id="addColumnBtn" class="control-button button-spacing">Add Column</button>
        <button id="deleteColumnBtn" class="control-button button-spacing">Delete Column</button>
        <button id="saveButton" class="control-button button-spacing">Save</button>
        <button id="exportButton" class="control-button button-spacing">Export to CSV</button>
    </div>
    <br>
    <div id="myGrid" class="ag-theme-alpine" style="height: 600px;"></div>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="static/script1.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>
</html>